{% extends "base.html" %}

    {% block title %}
    Blog-D
    {% endblock %}

    {% block content %}
    <section class="text-gray-600 body-font">
        <div class="container pt-36 pb-16 px-5 mx-auto">
          <div class="flex flex-col text-center w-full mb-14">
            <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">ROOF PARTY POLAROID</h2>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Blog-D</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table.</p>
          </div>
          <div class="flex flex-wrap">
          {% if posts|length %}

          {% for post in posts %}
          <section class="text-gray-600 body-font overflow-hidden">
            <div class="container px-5 py-16 mx-auto w-screen">
              <div class="-my-8 border-b-2 border-gray-200">
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                  <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-gray-700">{{post.category|title}}</span>
                    <span class="mt-1 text-gray-500 text-sm">{{post.publish}}</span>
                  </div>
                  <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
                    <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">{{post.author}}</h2>
                    <p class="leading-relaxed">{{post.content|truncatewords:30}}</p>
                    <a class="text-indigo-500 inline-flex items-center mt-4" href="{{post.get_absolute_url}}">Learn More
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          {% endfor %}
          {% else %}
          <div class="container mx-auto">
            <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
              <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">NO POST</h2>
            </div>
          </div>
          {% endif %}
          <!-- <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Load More</button> -->
        </div>
      </section>

{% endblock %}